a {
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

.list-inline {
  margin-top: 20px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
}

.list-inline li {
  display: inline;
  margin-right: 10px;
}

.list-inline li i {
  color: #666;
  display: inline;
}

.list-inline li i:hover {
  color: #ccc;
}

.photo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.photo-circle {
  background-image: url('../images/memoji.jpeg');
  background-size: cover;
  border-radius: 50%;
  height: 130px;
  margin: 0px auto;
  margin-bottom: 10px;
  width: 130px;
}

.title-main {
  text-align: center;
}

.title-main h1 {
  color: #404040;
  font-size: 35px;
  margin: 0px;
}

.title-main p {
  color: #404040;
  margin: 5px;
  font-size: 17px;
}

.about-me {
  text-align: center;
}

.about-me p {
  color: #404040;
  margin: 5px;
  font-size: 12px;
}
