---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Open Sans", sans-serif;;
$base-font-size:   1.5rem;
$titles-font-size:   1.90rem;
$base-font-weight: 400;
$titles-font-weight: 600;
$small-font-size:  $base-font-size * 0.6;
$base-line-height: 1.50;
$base-link-color: #2980b9;

$spacing-unit:     30px;

$text-color:       #292929;
$background-color: #FFFFFF;
$brand-color:      #2980b9;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$white-color: #FFFFFF;

// Width of the content area
$content-width:    800px;

$on-mobile:          768px;
$on-desktop:        1200px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@mixin background-size($size) {
  -o-background-size: $size;
  -moz-background-size: $size auto;
  -webkit-background-size:$size;
  background-size: $size;
}

@mixin blur($size) {
  -moz-filter: blur($size);
  -o-filter: blur($size);
  -ms-filter: blur($size);
  -webkit-filter: blur($size);
  filter: blur($size);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
