/**
* Site header
*/
.site-header {

    height: 60px;
    text-align: center;
    margin-bottom: 200px;

    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    // background: url("../images/back_header.jpg");

    &:hover {
      background-position: right center;
    }

    a {
      color: $text-color;
    }

    .header-description, .header-phrase {
        color: $text-color;
        font-size: $base-font-size;
        margin-bottom: 5px;
    }

    .wrapper {
        width: 90%;
        padding-top: 5px;
    }

    @include media-query($on-mobile) {
        @include background-size(300%);
    }

    .social-media-list {
      text-align: center;
      list-style: none;
      margin: 0;
      >li {
        display: inline;
        i {
          padding: 10px;
          font-size: 40px;
        }
      }
    }

}

// .bgParallax {
// 	background-position: 50% 0;
// 	background-repeat: repeat;
// 	background-attachment: fixed;
// }

.site-title {
    font-size: $titles-font-size;
    font-weight: $titles-font-weight;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {

    margin-top: 15px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $base-link-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-mobile) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: left;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: #666;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}



/**
* Site footer
*/
.site-footer {
    padding: $spacing-unit 0;

    .footer-heading {
        text-align: center;
        font-size: $titles-font-size;
        margin-bottom: $spacing-unit / 2;
    }

    a {
      color: $text-color;
    }


    .social-media-list {
      text-align: center;
      list-style: none;
      margin-left: 0;
      >li {
        display: inline;
        i {
          padding: 10px;
          font-size: 40px;
        }
      }
    }
}






/**
* Page content
*/
.page-content {
    padding-bottom: $spacing-unit;
}

.page-heading {
    font-size: 15px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    text-align: center;
    font-size: $base-font-size;
    line-height: $base-line-height;


    > li {
        margin-bottom: $spacing-unit;
        border-bottom: 1px solid #CCC;
        padding-bottom: 4rem;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
}

.post-link {
    color: $base-link-color;
    display: block;
    font-size: $titles-font-size;
    font-weight: $titles-font-weight;
    text-align: center;
}



/**
* Posts
*/
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $titles-font-size;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: $titles-font-weight;
    text-align: center;


    @include media-query($on-desktop) {
        text-align: center;
    }
}

.post-content {
    margin-bottom: 60px;

    p {
      text-align: justify;
      font-size: $base-font-size;
      line-height: $base-line-height;
      margin-bottom: 40px;

      @include media-query($on-mobile) {
          text-align: left;
      }

    }

    code {
      text-align: left;
    }


    h2 {
        font-size: 30px;
        font-weight: 600;
        text-align: center;

        @include media-query($on-desktop) {
            margin-top: 10px;
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-desktop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-desktop) {
            font-size: 18px;
        }
    }
}
